@model Stock_system.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row" style="background-color: #f9f9f9; ">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolunteerSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VolunteerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
