@model Stock_system.Models.Prayerwall

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prayerwall</h4>
    <hr />
    <dl class="row" style="background-color: white ">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrayerTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrayerTopic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrayerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrayerDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScriptureRefs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScriptureRefs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayRequested)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
